/*
Theme Name: IASD - Sedes Customizado
Description: Este tema personaliza o tema PA-Thema-Sedes
Author: 
Template: pa-thema-sedes
Version: 1.0.0
Tags: sedes,filho
Text Domain: pa-thema-sedes-child
*/


/* =Theme customization starts here
-------------------------------------------------------------- */


/* Modifica navbar */
.iasd-global_navbar {
    background-color: #ad3945;
    background-image: none;
    background-position: center top;
    background-repeat: repeat-x;
}

/* Modifica header */
body > header {
    background-color: #ad3945;
    background-image: none;
    background-position: center bottom;
    background-repeat: repeat-x;
    height: 300px;
}
